VITE_API_URL=http://localhost:4000
VITE_PAYSTACK_PUBLIC_KEY=pk_test_9d86bedf8b21f4d2aa07fdaf1958c7eeaff5ecfd
PAYSTACK_SECRET_KEY=sk_test_fcaa228ea5688fd737a38789b69b97ef969ef442
VITE_ADSENSE_PUBLISHER_ID=ca-pub-XXXXXXXXXXXXXXXX
VITE_ADSENSE_SLOT_HOME_HERO=1234567890
VITE_ADSENSE_SLOT_HOME_MID=2345678901
VITE_ADSENSE_SLOT_SEARCH_TOP=3456789012
VITE_ADSENSE_SLOT_SEARCH_INLINE=4567890123
VITE_ADSENSE_SLOT_PROFILE_SIDE=5678901234
VITE_ADSENSE_SLOT_PROFILE_BOT=6789012345
VITE_ADSENSE_SLOT_FOOTER=7890123456
