PORT=4000
MONGODB_URI=mongodb+srv://skyconet_db_user:Sa3A91eLnAhumbfJ@cluster.mongodb.net/mechanicng
JWT_SECRET=6ee74d463832e914d3c762dd0eeae907c4876021fc514be56f577c0eaee29a6190d542854d2301ae548201a89ec61285cbaed753d429ad65cee7ce44d9ec6c29
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
PAYSTACK_SECRET_KEY=sk_test_...
SMTP_HOST=smtp.resend.com
SMTP_PORT=465
SMTP_USER=resend
SMTP_PASS=your-resend-api-key
SMTP_FROM=noreply@mechanicng.com
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
